<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neusoft.ht.fee.mapper.HouseTypeMapper">
  <resultMap id="selectAllHouseType" type="com.neusoft.ht.fee.model.HouseType" >
  	<id property="typeNo" column="typeno" />
  	<result property="typeName" column="typeName" />
  </resultMap>
 <select id="selectAllHouseType" resultMap="selectAllHouseType">
  select * from HT_HOUSETYPE
 </select>

</mapper>

